*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: degular, sans-serif;
    font-weight: 400;
    font-style: normal;
}
body{
    margin: 0;
}
#hero h1{
    font-size: 5rem;
    padding: 20px;
    margin-right: auto;
}
p{
    font-size: 1rem;
}
ul{
    list-style: none;
}
li{
    font-size: 1rem;
}
button{
    font-size: 1rem;
    font-weight: 200;
    padding: 10px 30px;
    border-radius: 5px;
    border: 1px solid white;
    color: white;
    background: none;
}
.conocer-mas{
   margin: auto;
   margin-right: 78rem;
}
button:hover{
    background-color: black;
    color: white;
}
.container{
    max-width: 1400px;
    margin: auto;
}
header{
    background-color: rgb(245, 245, 245);
}
header .logo{
    margin: 0;
    padding: 25px 30px;
    width: 250px;
}
header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}
header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: 300;
    color: black;
}
header a:hover{
    color: #479FDA;
}
#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: white;
    background-image: url(./../fotos/vaso-cafe.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
#hero h1{
    color: white;
}
#homecup .container h1{
    text-align: center;
    margin-top: 100px;
    padding: 12px;
    font-size: 50px;
    font-weight: bold;
}
#homecup p{
    font-size: 26px;
    font-weight: 200;
    width: auto;
    margin: 40px;
}
#homecup span{
    font-weight: 500;
}
#nuestros-programas{
    background-color: white;
    color: white;
    text-align: center;
}
#nuestros-programas .container{
    padding: 20px 12px;
}
#nuestros-programas .carta{
    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin: 30px;
    border: 1px solid black;
    border-radius: 10px;
}
.carta:first-child{
    background-image: url(./../fotos/bolsa-cafe.jpg);
}
.carta:nth-child(2){
    background-image: url(./../fotos/chemex.jpg);
}
.carta:nth-child(3){
    background-image: url(./../fotos/tamper.jpg);
}
#conocenos{
    text-align: center;
    padding: 35px;
    margin: 20px;
    font-weight: 500;
    text-decoration: underline;
    color: #479FDA;
}
.nuestrahistoria p {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 70px;
}
.nuestrahistoria a {
    text-decoration: none;
    color: #479FDA;
}
footer{
    background-color: black;
}
footer p{
    margin: 0;
    padding: 12px;
    color: white;
}
footer .container{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
@media screen and (min-width: 720px){
    header{
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        display: inline-block;
        text-align: right;
        padding-bottom: 0;
        padding-right: 30px;
    }

    #homecup .container{
        width: 50%;
    }

    #homecup .logonegro{
        padding: 20px;
        width: 250px;
    }

    #nuestros-programas .programas{
        display: flex;
        justify-content: center;
    }

    #nuestros-programas .carta{
        padding: 150px 40px;
    }
}
@media screen and (max-width: 400px){
    #hero h1{
        font-size: 4rem;
    }
}
@media screen and (max-width: 310px){
    #hero h1{
        font-size: 3rem;
    }
}

.titulo-cafe{
    text-align: left;
    margin-left: 200px;
    font-size: 40px;
    color: black;
    margin-top: 100px;
    font-weight: 600;
}
.container-cards{
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.container-cards .cards{
    width: 300px;
    height: 430px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 40px;
    text-align: center;
    transition: all 0.25s;
}
.container-cards .cards:hover{
    transform: translateY(-5px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container-cards .cards img{
    width: 300px;
    height: 310px;
    border: solid 1px black;
}
.container-cards .cards h2{
    font-weight: 600;
    margin-top: 10px;
}
.container-cards .cards h3{
    font-weight: 500;
    font-size: 20px;
    margin: 5px;
}
.container-cards .cards a{
    font-weight: 100;
    text-decoration: underline;
    color: black;
}

@media screen and (max-width: 720px){
    .titulo-cafe{
        margin: auto;
        text-align: center;
        margin-top: 40px;
    }
    .titulo-recetas{
        margin: auto;
        text-align: center;
        margin-top: 40px;
    }
    .titulo-kiosco{
        margin: auto;
        text-align: center;
        margin-top: 40px;
    }
}
@media screen and (max-width: 1000px){
    #hero h1{
        margin: auto;
        margin-bottom: 2px;
    }
    .conocer-mas{
        margin-left: auto;
        margin-right: auto;
        margin-top: 2px;
        margin-bottom: 300px;
    }
}

.titulo-recetas{
    text-align: left;
    margin-left: 200px;
    font-size: 40px;
    color: black;
    margin-top: 100px;
    font-weight: 600;
}
.titulo-kiosco{
    text-align: left;
    margin-left: 200px;
    font-size: 40px;
    color: black;
    margin-top: 100px;
    font-weight: 600;
}

.contenedor{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 200px;
    margin-bottom: 200px;
    padding: 20px 100px;
}
.contenedor::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(50px);
}
.contacto{
    max-width: 850px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
    border: solid 1px black;
}
.left{
    height: 100%;
    background: url("./../fotos/tamper.jpg") no-repeat center;
    background-size: cover;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.right{
    padding: 25px 40px;
}
.titulo-contacto{
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.campo{
    width: 100%;
    padding: 0.5rem 1rem;
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0);
    background-color: rgba(230, 230, 230, 0.6);
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: 0.2s;
}
.campo:hover{
    background-color: rgba(0, 0, 0, 0.1);
}
.campo:focus{
    background-color: #fff;
    border: 2px solid rgba(30, 85, 250, 0.47);
}
.area{
    min-height: 150px;
}
.boton{
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    background-color: #479FDA;
    cursor: pointer;
    outline: none;
    border: solid 1px black;
    transition: 0.5s;
}
.boton:hover{
    background-color: #272727;
    color: #fff;
}
#historia p{
    font-size: 22px;
    font-weight: 400;
    max-width: 800px;
    text-align: left;
    margin-left: 50px;
    margin-top: 100px;
    padding: 12px;
    color: white;
}
#historia{
    border: solid 1px black;
    background-image: url(./../fotos/chemex.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}

#nuestras-recetas{
    background-color: white;
    color: white;
    text-align: center;
}
#nuestras-recetas .container{
    padding: 20px 12px;
    margin-left: 12%;
}
#nuestras-recetas .receta{
    width: 95%;
    margin: 30px;
    padding: 40px;
    align-items: flex-end;
    background-position: center center;
    background-size: cover;
    border: 1px solid black;
    border-radius: 10px 0px 0px 10px;
}
#nuestras-recetas .container h1{
    text-decoration: none;
    color: white;
    text-align: left;
}
#nuestras-recetas .container a{
    text-decoration: none;
}
#nuestras-recetas .container button{
    display: block;
}
.receta:first-child{
    background-image: url(./../fotos/recetas-espresso.jpg);
}
.receta:nth-child(2){
    background-image: url(./../fotos/recetas-chemex.jpg);
}
.receta:nth-child(3){
    background-image: url(./../fotos/recetas-aeropress.jpg);
}
.receta:nth-child(4){
    background-image: url(./../fotos/recetas-prensa\ francesa.jpg);
}
.receta:nth-child(5){
    background-image: url(./../fotos/recetas-V60.jpg);
}
.receta:nth-child(6){
    background-image: url(./../fotos/recetas-kalita.jpg);
}

@media screen and (max-width: 1000px){
    #nuestras-recetas .receta{
        width: auto;
        align-items: center;
        border-radius: 10px;
    }
    .titulo-recetas{
        text-align: center;
    }
}
@media screen and (max-width: 500px){
    #nuestras-recetas .container{
        width: auto;
        max-width: auto;
        align-items: center;
        border-radius: 10px;
    }
    #nuestras-recetas .receta{
        width: auto;
        max-width: auto;
        align-items: center;
        border-radius: 10px;
    }
    main .titulo-recetas{
        text-align: center;
        font-size: 2rem;
        margin: auto;
        margin-top: 30px;
    }
}